<div class="footer">
    <div class="footer-container">
        <a class="footer-link" target="_BLANK" href="https://www.linkedin.com/in/daniel-jerome-peck/"><img src="linkedin-icon.png"></a>
        <a class="footer-link" target="_BLANK" href="https://medium.com/@byrdmaan"> <img src="medium-icon.png"></a>
        <a class="footer-link" target="_top" href="mailto:hello@danielpeck.me?Subject=Saying%20Hello"><img class="icon" src="mail-icon.png"></a>
    </div>
</div>